@model List<UniversumCRUD.Models.Domain.Student>

@{
}

<h1>Students</h1>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.PhoneNumber</td>
                <td>@student.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>@student.Department</td>
                <td><a href="Students/View/@student.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>